body {
  font-size: 2rem;
}

button {
  font-size: 1.4rem;
  padding: 16px;
  cursor: pointer;
}

.App {
  padding: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
